

section {
  padding: 4em 0 4em 0;
  align-items: center;
  display: flex ;
  flex-direction: column;


  z-index: 1;
  
}

.MainSection{
  background-color: rgb(80, 119, 119);
  color: white;
}

.GetStarted {
  padding:12px 34px ;
  border: none;
  border-radius: 8px;
  font-size: 1.5rem;
  font-weight: 500;
  background-color: rgb(223, 223, 223);
  cursor: pointer;
}

.GetStarted:hover {
  color:rgb(80, 119, 119);
  background-color: white;
  box-shadow: 0 0 250px 2px #012;
}

.MainSection > h2 {
  padding-top:1em;
  font-size: 4rem;
}

.MainSection > div {
  padding:2em;
  font-size: 1.3rem;
}

.Features > div {
  font-size: 1.5rem;
  margin-bottom: 3em;
    padding: 8px 1em;
  flex-basis: 300px;
}

.Features{
  flex-direction: row;
  align-items: flex-start;
    
      flex-wrap: wrap;
      justify-content: center;
      padding-top:3em;
}

.Features > div >div:first-of-type {
  font-size: 2rem;
  text-align: center;
  padding: 8px 0;
}
