


a:hover {
  color:blue
}





main {
  

  margin-left: auto;
  margin-right: auto;



  width: 100%;

}





a {

  text-decoration: none;


}
a:visited {
  color:initial
}

input:focus {
    outline: none;
}

